@media (max-width: 1600px) { /* 1201 - 1600 */

}
@media (max-width: 1200px) { /* 1025 - 1200 */
    .container{
     max-width: 1024px;
    }
    .container{
        max-width: 768px;
    }
}
@media (max-width: 1024px) { /* 993 - 1024 */
    .container{
        max-width: 992px;
    }
    .container{
        max-width: 768px;
    }
}
@media (max-width: 992px) { /* 769 - 992 */

}
@media (max-width: 768px) { /* 481 - 768 */
    .container{
        max-width: 480px;
    }
}
@media (max-width: 480px) { /* 0 - 480 */
    .container{
        max-width: 360px;
    }
}